    body {
      margin: 0;
      height: 100vh; 
      display: flex;
      justify-content: center; 
      align-items: center;   
      background-color: #f0f0f0;
      font-family: Arial, sans-serif;
    }

 main {
  text-align: center;
  background-color: #f5f5f5;
  font-family: "Poppins", Arial, Helvetica, sans-serif; 
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(68, 0, 255, 0.3);
  padding: 40px;
}

main h1 {
  font-size: 42px;
  font-weight: 600; 
  margin: 5px 0;
}

main p {
  font-size: 20px;
  font-weight: 300; 
  color: #333;    
  margin: 3px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #f5f5f5;
  padding: 15px 40px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
nav a {
  text-decoration: none;
  color: rgb(48, 24, 92);
  margin: 0 25px; 
  font-weight: bold;
}

nav a:hover {
  color: rgb(72, 199, 199);
}

.social a {
  color: rgb(44, 19, 78);          
  font-size: 30px;
  margin: 0 15px;
  text-decoration: none;
}
.social :hover{
    transform: scale(1.1);
}